dummy df

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data = {
    'name': ['John Smith', 'Jane Doe', 'Alice Johnson', 'Bob Brown', 'Joko Parwanto', 'Rendy Okta Vieri', 'Aya', 'Ara', 'Cisto', 'Margie', 'Kambuaya', 'Sultan HB X'],
    'age': [28, 34, 22, 45, 51, 26, 22, 26, 6, 36, 25, 60],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Jabodetabek', 'Jabodetabek', 'Yogyakarta', 'Jabodetabek', 'Jabodetabek', 'Jabodetabek', 'Papua', 'Yogyakarta'],
    'city_closer_to_jabo': [0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 0.5, 1],
    'likes_tuku': [0, 0, 0, 0, 4, 9, 6, 10, 0, 10, 0, 0]
}

df = pd.DataFrame(data)
features = ['age', 'city_closer_to_jabo']
target = 'likes_tuku'

test .query()

In [2]:
# # df = df.query('age > 29')
# # df = df.query('city != "Los Angeles" ')

print(df)

                name  age         city  city_closer_to_jabo  likes_tuku
0         John Smith   28     New York                  0.0           0
1           Jane Doe   34  Los Angeles                  0.0           0
2      Alice Johnson   22      Chicago                  0.0           0
3          Bob Brown   45      Houston                  0.0           0
4      Joko Parwanto   51  Jabodetabek                  2.0           4
5   Rendy Okta Vieri   26  Jabodetabek                  2.0           9
6                Aya   22   Yogyakarta                  1.0           6
7                Ara   26  Jabodetabek                  2.0          10
8              Cisto    6  Jabodetabek                  2.0           0
9             Margie   36  Jabodetabek                  2.0          10
10          Kambuaya   25        Papua                  0.5           0
11       Sultan HB X   60   Yogyakarta                  1.0           0

own tree

In [3]:
from conventional.tree import EnjangDecisionTree

tree = EnjangDecisionTree(is_classification=False, min_samples_leaf=None, max_depth=3)
tree.train(df, features, target)

{'min_samples_leaf_pct': 0, 'min_samples_leaf': 0, 'max_leaves': 9999999, 'max_depth': 3}
defined as regression problem



continuing on the iteration to iter #1
number of active nodes left: 1
active leaf number 1 of 1
temp df:
                 name  age         city  city_closer_to_jabo  likes_tuku
0         John Smith   28     New York                  0.0           0
1           Jane Doe   34  Los Angeles                  0.0           0
2      Alice Johnson   22      Chicago                  0.0           0
3          Bob Brown   45      Houston                  0.0           0
4      Joko Parwanto   51  Jabodetabek                  2.0           4
5   Rendy Okta Vieri   26  Jabodetabek                  2.0           9
6                Aya   22   Yogyakarta                  1.0           6
7                Ara   26  Jabodetabek                  2.0          10
8              Cisto    6  Jabodetabek                  2.0           0
9             Margie   36  Jabodetabek                  2.0          10
10          Kambuaya   25        Papua                  0.5           0
11       Sultan HB X   60   Yogyakarta                  1.0           0
set:  {34, 36, 6, 45, 60, 51, 22, 25, 26, 28}
ordered feat: [34, 36, 6, 45, 60, 51, 22, 25, 26, 28]
breaking age on breakpoint val (from [34, 36]): 35.0. mse: 17.15625
	potential new breakpoint
self.temp_min_samples_node 4
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [36, 6]): 21.0. mse: 16.22727272727273
	potential new breakpoint
self.temp_min_samples_node 1
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [6, 45]): 25.5. mse: 15.65625
	potential new breakpoint
self.temp_min_samples_node 4
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [45, 60]): 52.5. mse: 16.22727272727273
breaking age on breakpoint val (from [60, 51]): 55.5. mse: 16.22727272727273
breaking age on breakpoint val (from [51, 22]): 36.5. mse: 15.962962962962962
breaking age on breakpoint val (from [22, 25]): 23.5. mse: 16.666666666666668
breaking age on breakpoint val (from [25, 26]): 25.5. mse: 15.65625
breaking age on breakpoint val (from [26, 28]): 27.0. mse: 16.34722222222222
set:  {0.0, 1.0, 2.0, 0.5}
ordered feat: [0.0, 1.0, 2.0, 0.5]
breaking city_closer_to_jabo on breakpoint val (from [0.0, 1.0]): 0.5. mse: 11.90625
	potential new breakpoint
self.temp_min_samples_node 4
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking city_closer_to_jabo on breakpoint val (from [1.0, 2.0]): 1.5. mse: 9.171428571428573
	potential new breakpoint
self.temp_min_samples_node 5
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking city_closer_to_jabo on breakpoint val (from [2.0, 0.5]): 1.25. mse: 9.171428571428573
Best breakpoint found on iter #1 active node (0): {'feature': 'city_closer_to_jabo', 'value': 1.5, 'score': 9.171428571428573}

tree nodes after iter #1
{'rules': [], 'len': 12, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5'], 'len': 5, 'active': True, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo < 1.5'], 'len': 7, 'active': True, 'is_confirmed_leaf': 0}



continuing on the iteration to iter #2
number of active nodes left: 2
active leaf number 1 of 2
temp df:
                name  age         city  city_closer_to_jabo  likes_tuku
4     Joko Parwanto   51  Jabodetabek                  2.0           4
5  Rendy Okta Vieri   26  Jabodetabek                  2.0           9
7               Ara   26  Jabodetabek                  2.0          10
8             Cisto    6  Jabodetabek                  2.0           0
9            Margie   36  Jabodetabek                  2.0          10
set:  {26, 51, 36, 6}
ordered feat: [26, 51, 36, 6]
breaking age on breakpoint val (from [26, 51]): 38.5. mse: 14.15
	potential new breakpoint
self.temp_min_samples_node 1
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [51, 36]): 43.5. mse: 14.15
breaking age on breakpoint val (from [36, 6]): 21.0. mse: 4.95
	potential new breakpoint
self.temp_min_samples_node 1
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
set:  {2.0}
ordered feat: [2.0]
Best breakpoint found on iter #2 active node (0): {'feature': 'age', 'value': 21.0, 'score': 4.95}

active leaf number 2 of 2
temp df:
              name  age         city  city_closer_to_jabo  likes_tuku
0      John Smith   28     New York                  0.0           0
1        Jane Doe   34  Los Angeles                  0.0           0
2   Alice Johnson   22      Chicago                  0.0           0
3       Bob Brown   45      Houston                  0.0           0
6             Aya   22   Yogyakarta                  1.0           6
10       Kambuaya   25        Papua                  0.5           0
11    Sultan HB X   60   Yogyakarta                  1.0           0
set:  {34, 45, 60, 22, 25, 28}
ordered feat: [34, 45, 60, 22, 25, 28]
breaking age on breakpoint val (from [34, 45]): 39.5. mse: 4.114285714285714
	potential new breakpoint
self.temp_min_samples_node 2
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [45, 60]): 52.5. mse: 4.285714285714286
breaking age on breakpoint val (from [60, 22]): 41.0. mse: 4.114285714285714
breaking age on breakpoint val (from [22, 25]): 23.5. mse: 2.5714285714285716
	potential new breakpoint
self.temp_min_samples_node 2
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [25, 28]): 26.5. mse: 3.4285714285714284
set:  {0.0, 1.0, 0.5}
ordered feat: [0.0, 1.0, 0.5]
breaking city_closer_to_jabo on breakpoint val (from [0.0, 1.0]): 0.5. mse: 3.4285714285714284
breaking city_closer_to_jabo on breakpoint val (from [1.0, 0.5]): 0.75. mse: 2.5714285714285716
Best breakpoint found on iter #2 active node (1): {'feature': 'age', 'value': 23.5, 'score': 2.5714285714285716}

tree nodes after iter #2
{'rules': [], 'len': 12, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5'], 'len': 5, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo < 1.5'], 'len': 7, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0'], 'len': 4, 'active': True, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5', 'age < 21.0'], 'len': 1, 'active': False, 'is_confirmed_leaf': 1}
{'rules': ['city_closer_to_jabo < 1.5', 'age >= 23.5'], 'len': 5, 'active': False, 'is_confirmed_leaf': 1}
{'rules': ['city_closer_to_jabo < 1.5', 'age < 23.5'], 'len': 2, 'active': True, 'is_confirmed_leaf': 0}



continuing on the iteration to iter #3
number of active nodes left: 2
active leaf number 1 of 2
temp df:
                name  age         city  city_closer_to_jabo  likes_tuku
4     Joko Parwanto   51  Jabodetabek                  2.0           4
5  Rendy Okta Vieri   26  Jabodetabek                  2.0           9
7               Ara   26  Jabodetabek                  2.0          10
9            Margie   36  Jabodetabek                  2.0          10
set:  {26, 51, 36}
ordered feat: [26, 51, 36]
breaking age on breakpoint val (from [26, 51]): 38.5. mse: 0.16666666666666666
	potential new breakpoint
self.temp_min_samples_node 1
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
breaking age on breakpoint val (from [51, 36]): 43.5. mse: 0.16666666666666666
set:  {2.0}
ordered feat: [2.0]
Best breakpoint found on iter #3 active node (0): {'feature': 'age', 'value': 38.5, 'score': 0.16666666666666666}

active leaf number 2 of 2
temp df:
             name  age        city  city_closer_to_jabo  likes_tuku
2  Alice Johnson   22     Chicago                  0.0           0
6            Aya   22  Yogyakarta                  1.0           6
set:  {22}
ordered feat: [22]
set:  {0.0, 1.0}
ordered feat: [0.0, 1.0]
breaking city_closer_to_jabo on breakpoint val (from [0.0, 1.0]): 0.5. mse: 0.0
	potential new breakpoint
self.temp_min_samples_node 1
 self.params['min_samples_leaf'] 0
		eventual new breakpoint
Best breakpoint found on iter #3 active node (1): {'feature': 'city_closer_to_jabo', 'value': 0.5, 'score': 0.0}

tree nodes after iter #3
{'rules': [], 'len': 12, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5'], 'len': 5, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo < 1.5'], 'len': 7, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0'], 'len': 4, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5', 'age < 21.0'], 'len': 1, 'active': False, 'is_confirmed_leaf': 1}
{'rules': ['city_closer_to_jabo < 1.5', 'age >= 23.5'], 'len': 5, 'active': False, 'is_confirmed_leaf': 1}
{'rules': ['city_closer_to_jabo < 1.5', 'age < 23.5'], 'len': 2, 'active': False, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0', 'age >= 38.5'], 'len': 1, 'active': False, 'is_confirmed_leaf': 1}
{'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0', 'age < 38.5'], 'len': 3, 'active': True, 'is_confirmed_leaf': 0}
{'rules': ['city_closer_to_jabo < 1.5', 'age < 23.5', 'city_closer_to_jabo >= 0.5'], 'len': 1, 'active': False, 'is_confirmed_leaf': 1}
{'rules': ['city_closer_to_jabo < 1.5', 'age < 23.5', 'city_closer_to_jabo < 0.5'], 'len': 1, 'active': False, 'is_confirmed_leaf': 1}
max depth of 3 reached (iter #4)

In [9]:
a = [3,3,2,5,4,1,1,1]

a.sort()
a

[1, 1, 1, 2, 3, 3, 4, 5]

In [4]:
tree.temp_leaves

[{'rules': [], 'len': 12, 'active': False, 'is_confirmed_leaf': 0},
 {'rules': ['city_closer_to_jabo >= 1.5'],
  'len': 5,
  'active': False,
  'is_confirmed_leaf': 0},
 {'rules': ['city_closer_to_jabo < 1.5'],
  'len': 7,
  'active': False,
  'is_confirmed_leaf': 0},
 {'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0'],
  'len': 4,
  'active': False,
  'is_confirmed_leaf': 0},
 {'rules': ['city_closer_to_jabo >= 1.5', 'age < 21.0'],
  'len': 1,
  'active': False,
  'is_confirmed_leaf': 1},
 {'rules': ['city_closer_to_jabo < 1.5', 'age >= 23.5'],
  'len': 5,
  'active': False,
  'is_confirmed_leaf': 1},
 {'rules': ['city_closer_to_jabo < 1.5', 'age < 23.5'],
  'len': 2,
  'active': False,
  'is_confirmed_leaf': 0},
 {'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0', 'age >= 38.5'],
  'len': 1,
  'active': False,
  'is_confirmed_leaf': 1},
 {'rules': ['city_closer_to_jabo >= 1.5', 'age >= 21.0', 'age < 38.5'],
  'len': 3,
  'active': True,
  'is_confirmed_leaf': 0},
 {'rules': ['city_closer_to_jabo < 1.5',
   'age < 23.5',
   'city_closer_to_jabo >= 0.5'],
  'len': 1,
  'active': False,
  'is_confirmed_leaf': 1},
 {'rules': ['city_closer_to_jabo < 1.5',
   'age < 23.5',
   'city_closer_to_jabo < 0.5'],
  'len': 1,
  'active': False,
  'is_confirmed_leaf': 1}]

sklearn's tree

In [7]:
from sklearn.tree import DecisionTreeRegressor, export_text

skl = DecisionTreeRegressor()
skl.fit(df[['age','city_closer_to_jabo']], df['likes_tuku'])

rules_skl = export_text(skl, feature_names=['age','city_closer_to_jabo'])
print(rules_skl)

|--- city_closer_to_jabo <= 1.50
|   |--- city_closer_to_jabo <= 0.75
|   |   |--- value: [0.00]
|   |--- city_closer_to_jabo >  0.75
|   |   |--- age <= 41.00
|   |   |   |--- value: [6.00]
|   |   |--- age >  41.00
|   |   |   |--- value: [0.00]
|--- city_closer_to_jabo >  1.50
|   |--- age <= 16.00
|   |   |--- value: [0.00]
|   |--- age >  16.00
|   |   |--- age <= 43.50
|   |   |   |--- age <= 31.00
|   |   |   |   |--- value: [9.50]
|   |   |   |--- age >  31.00
|   |   |   |   |--- value: [10.00]
|   |   |--- age >  43.50
|   |   |   |--- value: [4.00]

In [19]:
df

        name  age     city
3  Bob Brown   45  Houston

In [6]:
for i in range(1,3):
    print(i)

1
2

In [14]:
s = [1,2,3,4]

sum(s[0:2])/2

1.5

In [7]:
                        self.df.feat

NameError: name 'self' is not defined

In [ ]:
# validate to
from sklearn import tree

# my own 
from conventional.tree import EnjangDecisionTree

X = [[0, 0], [1, 1]]
Y = [0, 1]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)